@model WildCampingWithMvc.Models.CampingPlace.CampingPlaceDetailsViewModel

@if (ViewBag.NoPlaceFound)
{
    <div class="row text-center">
        @Html.Raw("<h3 class='row text - center'>" + @GlobalResources.TextPlaceNotFound + "</h3>")
    </div>
}
else
{
    <div class="row text-center">
        <h2>@string.Format(GlobalResources.TextCampingPlaceDetails, Model.Name).</h2>
        <hr />
        <h5>@string.Format(GlobalResources.TextAddedByOn, Model.AddedBy, Model.AddedOn)</h5>
        <a href="@Model.GoogleMapsUrl">@GlobalResources.TextGoogleMapsUrl</a>
    </div>
    <div class="row text-center">
        @if (Model.HasWater)
        {
            <h4>@GlobalResources.TextInTheRegion<strong class="my-strong"><span class="my-green">@GlobalResources.TextThereIs</span>@GlobalResources.TextDrinkingWater</strong>!</h4>
        }
        else
        {
            <h4>@GlobalResources.TextInTheRegion<strong class="my-strong"><span class="my-red">@GlobalResources.TextThereIsNo</span>@GlobalResources.TextDrinkingWater</strong>!</h4>
        }
        <h3>@GlobalResources.TextPlaceDescription</h3>
        <p>@Model.Description</p>
    </div>

    <div class="row text-center">
        <h3>@GlobalResources.TextSiteCategories</h3>
        @foreach (var category in Model.SiteCategories)
        {
            <a href="@Url.Action("SiteCategoriesDetails", "SiteCategory", new { name = category.Name })">[@category.Name]</a>
        }
    </div>
    <div class="row text-center">
        <h3>@GlobalResources.TextSightseeings</h3>
        @foreach (var sightseeing in Model.Sightseeings)
        {
            <a href="@Url.Action("SightseeingDetails", "Sightseeing", new { id = sightseeing.Id })">[@sightseeing.Name]</a>
        }
    </div>
    <div class="row text-center">
        <h3>@GlobalResources.TextImagesFrom "@Model.Name"</h3>
        @for (int i = 0; i < Model.ImageFileNames.Count; i++)
        {
            string imageName = Model.ImageFileNames[i];
            byte[] imageData = Model.ImageFilesData[i];
            <div class="col-md-6">
                <img class="image-400px" src="@Utilities.ConvertToImage(imageData)" alt="@imageName" /><br />
                <span>@imageName</span>
            </div>
        }
    </div>
    <div class="row text-center">
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">@GlobalResources.TextLastPlaces</a>
        @{
            bool isAuthorized = User.IsInRole("Admin") || (Model != null && Model.AddedBy == User.Identity.Name);
            if (isAuthorized)
            {
                <a class="btn btn-warning" href="@Url.Action("EditCampingPlace", "CampingPlace", new { id = Model.Id })">@GlobalResources.TextEdit</a>
                <a class="btn btn-danger" href="@Url.Action("DeleteCampingPlace", "CampingPlace", new { id = Model.Id })">@GlobalResources.TextDelete</a>
            }

            TempData["isAuthorized"] = isAuthorized;
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/custom-js-functions.js")
}
